{% extends 'share/base_share.html' %}
{% load staticfiles %}
{% block title%}
Изменить игру
{% endblock %}


 {% block header %}
<h5 class="mb-5">Если установлена галочка - <i>Автоматически получить данные с PSN</i>, нужно ввести только URL. Данные подтянутся автоматически.</h5>
  {% endblock %}


{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  Похоже, PSN не ответил. Попробуйте еще раз (будет выбран другой прокси-сервер).
</div>
{% endif %}

<form action ="{% url 'game_update_url' id=game.id%}" method = "post" id="len">
{% csrf_token %}

 <div class="input-group-text">
      <input type="checkbox" name="api" value="auto">&nbsp;Автоматически получить данные с PSN
    </div> 
<br>
{% for field in form %}
 <div class="form-group">
   {% if field.errors %}
 <div class="alert alert-danger">
              {{ field.errors }}
    </div>
   {% endif %}
    {{ field.label }}
    {{ field }}
   </div>
   {% endfor %}

<button type="submit" class="btn btn-primary">Изменить</button>

  </form>


{% endblock %}
