
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>
  
Agony

  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Gafuk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/share/">Составы</a>
      </li>


    </ul>
  </div>
</nav>
<div class ="container mt-5">
	<div class = "row">
		<div class = "col-5 offcet-md-2">
  
<h2 class="mb-5">Составы:</h2>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/static/game-1101.jpg" class="card-img" alt="Agony">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Agony</h5>
        <p class="card-text">Цена: <b>ДОРОГО</b></p>
        <p class="card-text"><small class="text-muted">Дата выхода: <b>00-00-2020</b></small></p>
      </div>
    </div>
  </div>
</div>




  <div class="alert alert-warning" role="alert" ><center>
   <div style = "display: flex; justify-content: space-between;">
      <p>П1	<b></b>
      
      <form action ="/share/game/18/" method = "post" ><input type="hidden" name="csrfmiddlewaretoken" value="MppzicFtC1NwbqValHAEX4iBbOeWVlHpmZgzFYEhLPYMCOAY3NVcuEJsDhgDyAbO">
        <button type="submit" name = "zapis" value = "3_p1" class="btn btn-warning btn-sm">Записаться</button>
      </form>
      
        4500 руб.

      </p>
</div>
      <div style = "display: flex; justify-content: space-between;">
      <p>П2	<b></b>
        
        <form action ="/share/game/18/" method = "post"><input type="hidden" name="csrfmiddlewaretoken" value="MppzicFtC1NwbqValHAEX4iBbOeWVlHpmZgzFYEhLPYMCOAY3NVcuEJsDhgDyAbO">
          <button type="submit" name = "zapis" value = "3_p2" class="btn btn-warning btn-sm">Записаться</button>
        </form>
        
          4500 руб.
    
        </p>
</div>
        <div style = "display: flex; justify-content: space-between;">
        <p>П4	<b></b>
          
          <form action ="/share/game/18/" method = "post"><input type="hidden" name="csrfmiddlewaretoken" value="MppzicFtC1NwbqValHAEX4iBbOeWVlHpmZgzFYEhLPYMCOAY3NVcuEJsDhgDyAbO">
            <button type="submit" name = "zapis" value = "3_p41" class="btn btn-warning btn-sm">Записаться</button>
          </form>
          
            4500 руб.
    
          </p>
</div>
         <div style = "display: flex; justify-content: space-between;">
          <p>П4	<b></b>	
            
            <form action ="/share/game/18/" method = "post"><input type="hidden" name="csrfmiddlewaretoken" value="MppzicFtC1NwbqValHAEX4iBbOeWVlHpmZgzFYEhLPYMCOAY3NVcuEJsDhgDyAbO">
              <button type="submit" name = "zapis" value = "3_p42" class="btn btn-warning btn-sm">Записаться</button>
            </form>
            
              4500 руб.
      
            </p>
            </div>
  </center></div>

<br>
	




  </div>
   </div>
    </div>
</body>
</html>
