{% extends 'share/base_share.html' %}
{% load staticfiles %}
{% block title%}
Изменить состав - {{share.id}}
{% endblock %}


 {% block header %}

<p><u>Чтобы выписать участника:</u> Стереть ник в поле его позиции и установить статус - <b>0</b> </p>
<p><u>Чтобы записать участника:</u> Вписать его ник на нужную позицию и установить статус - <b>1</b> </p>
  {% endblock %}


{% block content %}
<form action ="{% url 'sostav_update_url' id=share.id%}" method = "post">
{% csrf_token %}
{% for field in form %}
 <div class="form-group">
   {% if field.errors %}
 <div class="alert alert-danger">
              {{ field.errors }}
    </div>
   {% endif %}
    {{ field.label }}
    {{ field }}
   </div>
   {% endfor %}

<button type="submit" class="btn btn-primary">Изменить</button>

  </form>



{% endblock %}
